@model List<CivicsApp.Models.Representatives.CompleteListOfReps.Representative>

@{
    ViewData["Title"] = "Representative";
}

<h2>List of Representatives</h2>


<table class="table">

    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                State
            </th>
            <th>
                District
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(s => s.State).ThenBy(d => d.District.Length).ThenBy(d => d.District))
        {
        <tr>
            <td>
                @Html.DisplayFor(Model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.District)
            </td>
        </tr>
        }
    </tbody>
</table>