@model List<CivicsApp.Models.Representatives.SpecificRep.SpecificRepresentative>

@{
    ViewData["Title"] = "State";
}
<thead>
    <h2>Your Federal Representatives</h2>
</thead>

<tbody>
    <table class="table">
        <h4>Your Represenative:</h4>
        <th>First Name</th>
        <th>Last Name</th>
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => Model[0].Results[0].FirstName)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => Model[0].Results[0].LastName)
            </td>
        </tr>
    </table>
    <table class="table">
        <h4>Your Senators:</h4>
        <th>First Name</th>
        <th>Last Name</th>
        @foreach (var item in Model[1].Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.LastName)
                </td>
            </tr>
        }
    </table>
</tbody>
